@font-face {
    font-family: 'jaapokkiregular';
    src: url('jaapokki-regular-webfont.eot');
    src: url('jaapokki-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('jaapokki-regular-webfont.woff2') format('woff2'),
         url('jaapokki-regular-webfont.woff') format('woff'),
         url('jaapokki-regular-webfont.ttf') format('truetype'),
         url('jaapokki-regular-webfont.svg#jaapokkiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}