/* All ordered from darkest to lightest*/
$watson-burgundy: #7F1B1B;
$watson-red: #E23246;
$watson-salmon: #E76767;
$watson-peach: #E78D67;
$watson-lightpeach: #FFB072;
$watson-pink: #FCEDED;

.about-body {
	margin-left: 50px;
	margin-top: 50px;
	margin-bottom: 100px;
	margin-right: 50px;
}

#team-pic {
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

#about-title {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 20px;
}

#meet-team {
	font-weight: bold;
	font-size: 20px;
	margin-top: 25px;
}

body {
	background-color: $watson-pink;
	padding-top: 77px;
}

.logo {
	margin-top: 4px;
	margin-bottom: -35px;
	height: 60px;
}

.chart-header {
  width: 93%;
  height: 30px;
  font-family: 'jaapokkiregular';
  color: $watson-burgundy;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 40px;
  padding-left: 15px;
  padding-top: 6px;
  font-size: 31px;
}

.chart-label {
	font-family: 'jaapokkiregular';
	color: $watson-burgundy;
}

.highcharts-background {
	overflow: visible;
}

#positive, #neutral {
	padding-right: 75px;
}

.navbar {
	background-color: $watson-red;
	border: none;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
	height: 79px;
	font-family: 'jaapokkiregular';
}

.navbar-default .navbar-nav > li > a {
	color: $watson-pink;
	font-size: 18px;
}

.navbar-default .navbar-nav > li > a:hover {
	color: $watson-lightpeach;
	text-decoration: none;
}

.navbar-left {
	margin-top: -8px;
	margin-left: 25px;
	font-size: 30px;
}

.navbar-right {
	margin-right: 10px;
}

.navbar-links {
	color: $watson-pink;
	margin-top: -13px;
}

.navbar-links:hover {
	color: $watson-lightpeach;
	margin-top: -13px;
	text-decoration: none;
}


.banner {
	background-color: $watson-peach;
	height: 200px;
}

.half-banner {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 100%;
  height: 100px;
  background-color: $watson-salmon;
}

.container {
	background-color: $watson-red;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.signup-form, .login-form {
	background-color: $watson-pink;
	border: 2px solid $watson-salmon;
	margin-top: 30px;
	margin-bottom: 30px;
}

.headers {
	font-family: 'jaapokkiregular';
	text-transform: uppercase;
	color: white;
	background-color: $watson-salmon;
	padding: 10px;
	margin-left: -15px;
	margin-right: -15px;
}



/* Profile page*/

.user-bar {
	height:100%;
	background-color: $watson-red;
	padding: 20px;
	font-family: 'jaapokkiregular';
	color: $watson-pink;
}

.profbar-wrapper {
	margin: 0px 48px;
	
}

.profile-headers {
	font-family: 'jaapokkiregular';
	text-transform: uppercase;
	color: white;
	background-color: $watson-salmon;
	padding: 10px;
	margin: -17px -20px 17px -20px;
	padding-top: 15px;
	height: 60px;
	font-size: 24px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.profile-footer {
	background-color: $watson-salmon;
	height: 30px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
	margin: 15px -20px -11px -20px;
}

.profile-content {
	height:100vh;
	overflow-y:auto
}

.traits {
	margin: 20px;
}

.trait-headers {
	font-family: 'jaapokkiregular';
	color: $watson-burgundy;
	text-transform: uppercase;
}

.img-rounded {
	border: 3px solid #FCEDED;
	border-radius: 5px 45px 5px;
	margin-left: 35px;
	margin-top: 37px;
	height: auto;
	width: 85%;
	padding: 4px;
	background-color: $watson-salmon;
	-moz-box-shadow:    inset 0 0 3px #000000;
	-webkit-box-shadow: inset 0 0 3px #000000;
	box-shadow:         inset 0 0 3px #000000;
	overflow: hidden;
}


.alert {
	margin-bottom: 0px;
}

.wrapper {
	overflow: auto;
}

.username {
	background-color: $watson-peach;
	margin: -5px -70px;
	padding-left: 70px;
	padding-top: 15px;
	font-size: 18px;
}

.email {
	background-color: $watson-salmon;
	margin: 0px -70px 13px;
	padding-left: 70px;
	padding-top: 15px;
}

.footer {
	padding: 15px;
	margin-top: 50px;
	height: 50px;
	clear: both;
	background-color: $watson-red;
	color: $watson-pink;
	font-family: 'jaapokkiregular';
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.div.hidden { 
	display: none;
}

#progress-bar-check {
	float:right;
}

/* Homepage */
.jumbotron {
	background-color: $watson-pink;
	padding-top: 77px;
	padding-left: 5%;
	color: $watson-salmon;
	font-family: 'jaapokkiregular';
}

a.about {
	color: white;
	font-size: 18px;
	text-decoration: none;
	&:hover {
		color: $watson-lightpeach;
	}
}

.small-line {
	background-color: $watson-peach;
    height: 2px;
}

.homepage-text {
	border: 3px solid $watson-burgundy;
	border-radius: 5px 45px 5px;
	margin-top: 15px;
	padding: 4px;
	-moz-box-shadow:    inset 0 0 3px #000000;
	-webkit-box-shadow: inset 0 0 3px #000000;
	box-shadow:         inset 0 0 3px #000000;
}

.explanation {
	color: $watson-burgundy;
	padding-left: 5%;
}

.round-image {
	width: 140px;
}

.subheading {
	font-style: italic;
	font-family: 'jaapokkiregular';
	color: $watson-burgundy;
	padding-left: 10%;
}

.homepage-text {
	font-size: 18px;
	font-family: 'jaapokkiregular';
	text-align: center;
}
.title {
	text-shadow: 1px 1px $watson-lightpeach;
}

.signup-link {
	color: $watson-peach;
	font-size: 20px;
	font-style: bold;
	&:hover {
		color: $watson-lightpeach;
		text-decoration: none;
	}
}

a.descriptors {
	color: $watson-peach;
	&:hover {
		color: $watson-lightpeach;
		text-decoration: none;
	}
}