// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.fb-link {
	a:link {
	  	font-weight: bold;
	  	text-decoration: none;
	}
}

.fb-button {
	background-color: #45629d;
	color: #FFF;
}