<div class="about-body">
	<div class="row" id='about-title'>
		<%= "About" %>
	</div>

	<div class="row" id='about-project'>
	<%= "We built this application to aspire to better understand how we communicate with the world through social media, and to use this knowledge to gain new insights and information about ourselves. Combined with the desire to play with the IBM Watson APIs, we settled on pulling in personal twitter content to analyze personality traits, the positivity/negativity of our communication and more. In the future we're hoping to expand into analyzing other personal content as well as recommending content such as books or twitter accounts to follow. The application is named District Five for the elementary school that Thomas Watson attended." %>
	</div>

	<div class="row" id='meet-team'>
		<%= "Meet the team" %>
	</div>

	<a href="http://github.com/vframbach" target="_blank"><img src="https://scontent-yyz1-1.xx.fbcdn.net/hprofile-xpa1/v/t1.0-1/c50.50.621.621/7850_10101521377599033_1643181998_n.jpg?oh=af83fa2e7588e122d0dc6bb3b75e12e9&oe=57445D31" width="250" class="img-rounded" id="team-pic"></a>

	<a href="http://github.com/abeytaadam" target="_blank"><img src="https://scontent-yyz1-1.xx.fbcdn.net/hprofile-xfa1/v/t1.0-1/c44.44.552.552/318281_3628122145481_1413888087_n.jpg?oh=d04ec3197fc3eac98f9deb9c58ba7f7c&oe=57063AF9" width="250" class="img-rounded" id="team-pic"></a>

	<a href="http://github.com/Stanleyyork" target="_blank"><img src="https://scontent-yyz1-1.xx.fbcdn.net/hphotos-prn2/v/t1.0-9/1620629_10104303822941143_2659929500490146637_n.jpg?oh=13370ad11f2e5be9dfe7f3888bb43c9d&oe=57030EEB" width="250" class="img-rounded" id="team-pic"></a>

</div>