
<div class="col-md-12 text-center homepage-body">
	<div class="col-md-12 homepage-heading text-center">
		<h1 class="title">WELCOME TO WATSON</h1>
	</div>
	<div class="info-pics">
		<div class="col-md-4 homepage-text-box">
			<div class="text-center">
				<h1>How It Works</h1>
				<%= image_tag "WATSON_WORD_BUB.png"%>
				<div class="homepage-text">Your Tweets will be <br> analyzed with Watson Personality Insights. Gain insight into your personality through content analysis.</div>
			</div>
		</div>
		<div class="col-md-4 homepage-text-box">
			<div class="text-center">
				<h1>Twitter</h1>
				<%= image_tag "WATSON_TWITTER.png"%>
				<div class="homepage-text">To get started, <br><a class = "signup-link" href="/users/new">Sign up for Watson</a><br> and enter in your Twitter username. The account must be public in order for the tweets to be analyzed.</div>
			</div>
		</div>
		<div class="col-md-4 homepage-text-box">
			<div class="text-center">
				<h1>Your Data</h1>
				<%= image_tag "WATSON_BAR.png"%>
				<div class="homepage-text">Receive a detailed breakdown of your top personality traits, based on your tweets. The analysis contains Big 5, Values, Needs, and Sentiment.</div>
			</div>
		</div>
	</div>
	<div class="col-md-8 col-md-offset-2 sample-pic">
	</div>
</div>


